<!DOCTYPE html>
<html lang="en">
<head>
    <title>MoneyMate</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
 <h1>Welcome to MoneyMate</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('log_income') }}">Log Income</a></li>
            <li><a href="{{ url_for('log_expense') }}">Log Expense</a></li>
            <li><a href="{{ url_for('set_budget') }}">Set Budget</a></li>
            <li><a href="{{ url_for('set_goal') }}">Set Savings Goal</a></li>
            <li><a href="{{ url_for('summary') }}">View Summary</a></li>
        </ul>
    </nav>
</body>
</html>
